.cart-drawer {
  position: fixed;
  right: -400px;
  top: 0;
  width: 380px;
  height: 100vh;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  transition: right 0.4s ease;
  padding: 20px;
  z-index: 99999;

  display: flex;
  flex-direction: column;
}

.cart-drawer.open {
  right: 0;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item {
  display: flex;
  gap: 10px;
  margin: 15px 0;
  align-items: center;
}

.cart-item img {
  width: 60px;
}

.cart-footer {
  margin-top: auto;
}

.view-btn,
.checkout-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

.view-btn {
  background: black;
  color: white;
}

.checkout-btn {
  background: orange;
  color: white;
}