/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root Defaults */
:root {
   font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Body */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

/* Root Container */
#root {
  width: 100%;
}

/* Links */
a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Buttons (clean base style) */
button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}